body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #85bcc7;
  align-items: center;
}

/* --- Top Bar Layout --- */
.top-bar {
  width: 100%;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  padding-left: 30px;
}

.score-block {
  font-size: 1.8rem;
  font-weight: bold;
  position: absolute;
}

.hand-score-block {
  font-size: 1rem;
  font-weight: bold;
}

#score-value,
#hand-score-value {
  color: #0078ff;
}

/* --- Image Grid --- */
.container {
  max-width: 900px;

  margin: 0 auto;
  text-align: center;
}

.score {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  scale: 0.7;
  transform: translate(0, -120px);
}

.box {
  background: #8e9394;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.678);
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.box-button {
  border: none;
  cursor: pointer;
  background-color: #8e9394;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.678);
}

.box-button img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.box-button:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.selected--dice {
  background-color: #34414b;
}

.lockedin--dice {
  background-color: #000000;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--roll {
  top: 39rem;
}

.btn--losing {
  top: 39rem;
}

.btn--reroll--unselected {
  top: 39rem;
}

.btn--reroll--all {
  top: 43rem;
}

.btn--lock--in {
  top: 47rem;
}

.hidden {
  display: none;
}

#your-name h1 {
  color: blue;
}

#players-input {
  height: 40px;
  width: 250px;
}

#ok-button {
  height: 40px;
  width: 50px;
  size: 200%;
}
