html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #85bcc7;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* --- Top Bar Layout --- */
.top-bar {
  width: 100%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 30px;
}

.score-block {
  /* font-size: 1.6rem; */
  font-size: 3vh;
  font-weight: bold;
}

.Hand-score {
  /* font-size: 1.6rem; */
  font-weight: bold;
  font-size: 3vh;
}

#score-value,
#hand-score-value {
  color: #0078ff;
}

/* --- Image Grid --- */
.container {
  width: 55vw;
  height: 55vh;
  margin: 0 auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  gap: 2.5vh;
  scale: 0.7;
  transform: translate(0, -8vw);
}

.box-button {
  border: none;
  cursor: pointer;
  background-color: #8e9394;
  border-radius: 8px;
  /* padding: 20px; */
  padding: 1.2vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.678);
}

.box-button img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.box-button:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.selected--dice {
  background-color: #34414b;
}

.lockedin--dice {
  background-color: #000000;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  /* font-size: 1.5rem; */
  font-size: 2.5vh;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  height: 6vh;
  white-space: nowrap;
}

.btn--roll {
  top: 74vh;
}

.btn--losing {
  top: 74vh;
}

.btn--reroll--unselected {
  top: 74vh;
}

.btn--reroll--all {
  top: 81vh;
}

.btn--lock--in {
  top: 88vh;
}

.hidden {
  display: none;
}

/* #your-name h1 {
  color: blue;
} */

/* #players-input {
  height: 40px;
  width: 250px;
} */

/* #ok-button {
  height: 40px;
  width: 50px;
  size: 200%;
} */
